table {
    border-collapse: collapse;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
}

tr:hover {
    background-color: #EEAAEE;
}

.dollarAmount {
    text-align: right;
}

.credit {
    background-color: #FFDDDD;
}

.debit {
    background-color: #CCDDFF;
}

th {
    background-color: #DDFFFF;
}
